<div class="dashboard">
    <div class="nav">
        <input class="search sdashboard" type="search" name="search" id="search" placeholder="Seach...">
        <div class="profile">
            <img src="./images/image/cute-little-dog-isolated-yellow.jpg" alt="" srcset="">
            <h3>Rayan</h3>
        </div>
    </div>
    <div class="overview">
        <h1>Animal</h1>
        <button>Add Reklam</button>
    </div>
    <div class="boxs-product">
        <table>
            <tr>
                <th>id</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Francisco Chang</td>
                <td><button>Edit</button></td>
                <td><button>delete</button></td>
            </tr>
        </table>
    </div>
</div>