<div class="dashboard">
    <form action="/api/posts/doc" class="add Addanimal" method="post">
        <div class="line1">
            <input type="text" name="username" id="english" placeholder="ناو" required>
            <input type="text" name="number" id="kurdish" placeholder="رقم" required>
            <input type="text" name="clientname" id="arabic" placeholder="مبیعات" required>
            <input type="date" name="date" id="badini" placeholder="کات" required>
            <select name="level">
                <option disabled selected value="gender">ئاست</option>
                <option value="پرساری کرد">پرساری کرد</option>
                <option value="داتە موضف">داتە موضف</option>
                <option value="عەزی لیبو">عەزی لیبو</option>
                <option value="مامەلەی کرد">مامەلەی کرد</option>
                <option value="کری">کری</option>
                <option value="نەی کری">نەی کری</option>
            </select>
        </div>
        <div class="line2">
            <input type="text" name="place" placeholder="شوین" required>
            <select name="project">
                <option disabled selected value="پرۆژە">پرۆژە</option>
                    <% products.forEach((ech)=> { %>
                        <option value="<%= ech.project %>" ><%= ech.project %></option>
                    <% }) %>
            </select>
            <select name="type">
                <option disabled selected value="جەند غورفەیە">جەند غورفەیە</option>
                <option value="ستودیو">ستودیو</option>
                <option value="1 + 1">1 + 1</option>
                <option value="1 + 2">1 + 2</option>
                <option value="1 + 3">1 + 3</option>
                <option value="1 + 4">1 + 4</option>
                <option value="1 + 5">1 + 5</option>
                <option value="1 + 6">1 + 6</option>
            </select>
            <select name="call">
                <option disabled selected value="چ جوریکە">چ جوریکە</option>
                <option value="رسالە">رسالە</option>
                <option value="تەلەون">تەلەون</option>
            </select>
            <input type="submit" value="ناردن">
        </div>
    </form>
</div>