<div class="dashboard">
    <form class="add Addanimal" action="/api/posts/reklam" enctype="multipart/form-data" method="post">
        <div class="line1">
            <input type="text" name="project" placeholder="مشروع" required>
            <input type="submit" value="ناردن">
        </div>
    </form>
</div>