<div class="dashboard">
    <form class="add Addanimal" action="/api/posts/reklam" enctype="multipart/form-data" method="post">
        <div class="line1">
            <input type="file" name="myFile" id="myFile" multiple required>
            <input type="submit" value="submit">
        </div>
    </form>
</div>