<div class="dashboard">
    <div class="overview">
        <h1>band</h1>
        <button>band people</button>
    </div>
    <div class="boxs-product">
        <table>
            <tr>
                <th>id</th>
                <th>Image</th>
                <th>name</th>
                <th>stock</th>
                <th>price</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td>Mexico</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Helen Bennett</td>
                <td>UK</td>
                <td>UK</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td>Canada</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
                <td>Italy</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td>Mexico</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Helen Bennett</td>
                <td>UK</td>
                <td>UK</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td>Canada</td>
                <td>Yoshi Tannamuri</td>
                <td><button>edit</button></td>
                <td><button>delete</button></td>
            </tr>
        </table>
    </div>
</div>