<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/formAnimal.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <title>Rayan developer 07501379855</title>
</head>
<body>
    <main>
        <%- include('./nav.ejs') %>
        <div class="container">
            <%- body %>
        </div>
    </main>
</body>
</html>