
    <form class="login" action="/api/user/login" method="post">
        <input type="text" name="username" id="" placeholder="username">
        <input type="text" name="password" id="" placeholder="password">
        <input type="submit" value="login">
    </form>