<nav class="navbar">
    <div class="logo">
        <img src="/images/image/zest.png" alt="" width="100px">
    </div>
    <ul>
        <li><a class="a" href="/">شوقەکان</a></li>
        <li><a class="a" href="/user">شوقە زیادکردن</a></li>
        <li><a class="a" href="/customers">مبیعات</a></li>
        <li><a class="a" href="/adminstrators">ئەدمین</a></li>
        <li><a class="a" href="/api/user/logout">چونە دەرەوە</a></li>
        <!-- <li><a class="a" href="/project">مشروعەکان</a></li> -->
        <!-- <li><a class="a" href="delivery_boy">Delivery_boy</a></li>
        <li><a class="a" href="inventory">Inventory</a></li>
        <li><a class="a" href="doctors">Doctors</a></li>
        <li><a class="a" href="FBrand">Fillter Brand</a></li>
        <li><a class="a" href="AAnimals">Add Animals</a></li>
        <li><a class="a" href="AFillter">Animals Fillter</a></li> -->
        <!-- <li><a class="a" href="settings">Settings</a></li> -->
    </ul>
</nav>