<div class="dashboard">
    <div class="overview">
        <h1>مشروعەکان</h1>
        <button><a class="a" href="add_reklam">زیادکردن</a></button>
    </div>
<div class="boxs-product">
    <table>
        <thead></thead>
        <tr>
            <th>مشروع</th>
            <th>رەشکردنەوە</th>
        </tr>
        <% products.forEach((product)=> { %>
            <tr>
                <th><%=product.project%></th>
                <th>
                    <form action="/api/reklam/delete/<%=product._id%>"><input type="submit" value="delete"></form>
                </th>
            </tr>
            <% }) %>
    </table>
</div></div>  